.beer-card {
  max-width: 200px;
  .beer-img {
    height: 300px;
  }
}
.burger-card {
  max-width: 250px;
  .burger-img {
    height: 200px;
  }
}
.snack-card {
  max-width: 250px;
  .snack-img {
    height: 200px;
  }
}
